/*global rules*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

footer {
    height: 250px;
    background-color: #394043;
    padding-top: 10px;
}

.bottom {
    text-align: center;
    margin: 0px;
    color: #ffffff;
}

.bottom p{
    margin: 0;
    padding: 10px;
    font-weight: lighter;
}

.detail-text {
    font-size: 0.9em;
    font-weight: lighter;
    color: #ffffff;
    margin-bottom: 15px;
}

/*반응형*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1187px;
    }
}

/**/

/*landing rulse*/

.landing-page header {
    min-height: 80px;
    display: flex;
}

@media (max-width:768px) {
    .landing-page header {
        min-height: auto;
        display: initial;
    }
}

.landing-page .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:768px) {
    .landing-page .container {
        flex-direction: column;
        justify-content: center;
    }
}



.landing-page header .logo {
    color: #5d5d5d;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
}

@media (max-width:768px) {
    .landing-page header .logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.landing-page header .links {
    display: flex;
    align-items: center;
}

@media (max-width:768px) {
    .landing-page header .links {
        text-align: center;
        gap: 30px;
    }   
}

.landing-page header .links li {
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
    transform: .3s;
}

@media (max-width:768px) {
    .landing-page header .links li {
        margin-left: auto;
    }
}

.landing-page header .links a:last-child li{
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #6c63ff;
}

.landing-page header .links a:not(:last-child):hover li{
    color : #6c63ff;
}

.landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh-80px);
}

@media (max-width: 767px) {
    .landing-page .content .container {
        gap: 0;
        min-height: calc(100vh - 101vh);
        justify-content: center;
        flex-direction: column-reverse;
    }
}

.landing-page .content .mid {
    flex-direction: row-reverse;
}

@media (max-width: 767px) {
    .landing-page .content .mid {
        gap: 0;
        min-height: calc(100vh - 101vh);
        justify-content: center;
        flex-direction: column-reverse;
    }
}

@media (max-width: 767px) {
    .landing-page .content .info {
        text-align: center;
        margin-bottom: 15px;
    }
}

.landing-page .content .info h1{
    color: #5d5d5d;
    font-size: 44px;
}

.landing-page .content .info p{
    margin: 0;
    line-height: 2;
    font-size: 15px;
    color: #5d5d5d;
}

.landing-page .content .info button{
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: #fff;
    color: white;
    background-color: #6c63ff;
}

.landing-page .content .image img {
    max-width: 100%;
}

/*1*/